//html中有元素 <a> </a> 这样的就是一个超链接元素 只要你中键能够跳进新的网站 那就是a


//每个元素可以有classes（没错不止一个class），比如 navigation-container category-drop，用来指明这类元素的用法

//每个元素还可以有独一无二的id

//而每一个css则是这么个写法：
/* .class1.class2 [element] (under) [element] > (directly under) [element],[another element]:pseudo-class {


} */

.information.private-message-map{
    display: none;
}

.local-dates.btn.no-text.btn-icon{
    display: none;
}

.composer-popup.education-message{
    display: none;
}

.widget-button.btn-flat.create-flag.no-text{
    display: none;
}

.widget-button.btn-flat.share.no-text{
    display: none;
}

.widget-button.btn-flat.bookmark.no-text{
    display: none;
}
.quote.btn.no-text.btn-icon{
    display: none;
}


.add-section.btn.btn-flat{
    display: none;
}


.btn-default.topic-footer-button.bookmark{
    display: none;
}

.btn-default.topic-footer-button.share-and-invite{
    display: none;
}

.sidebar-section-header-button{
    display: none;
}

li.sidebar-section-link-wrapper[data-list-item-name="all-categories"] {
    display: none;
}

.sidebar-section-link.sidebar-row[data-link-name="badges"]{
    display: none;
}




//链接onebox

aside.onebox{
    border-radius: 10px;
    margin: 1px;
    overflow: hidden;
    border: 2px solid var(--primary-low);
}

aside.onebox p{
    padding-top: 10px;
    white-space: nowrap; /* 禁止文本换行 */
    overflow: hidden; /* 超出 <p> 元素宽度的文本隐藏 */
    text-overflow: ellipsis; /* 文本溢出时显示省略号 */
  
}

aside.onebox header{
    display: none;
}

aside.onebox h3 {
    font-weight: bold;
    font-size: 30px;
  }

.new-user{
    display: none;
}

.category-input{
    display: none;
}

.timeline-container {
    display: none;
}



//搜索栏的自定义

.search-menu.search-header{
    margin-top: 19px;
    border-radius: 5px;
}

.search-input{
    background-color: transparent;
    margin-right: 0px;
    border: transparent;
    border-radius: 5px;
}

.search-term{
    border: transparent;
}

.widget-button.btn.search-icon{
    border: transparent;
}

.d-icon-search{
    width: 23px;
    height: 23px;
}
.bootstrap-mode{
    display: none;
}

.sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"]{
    display: none;
}

.sidebar-section-link.sidebar-row[data-link-name="all-tags"]{
    display: none;
}

.suggested-topics-message{
    display: none;
}
.views.sortable.num.topic-list-data{
    display: none;
}

.num.posts-map.posts.topic-list-data{
    display: none;
}

.num.views.topic-list-data{
    display: none;
}

.posts.views.topic-list-data{
    display: none;
}

.link-bottom-line{
    padding: 5px 0px;
}

.navigation-container {
    .select-kit.combo-box {
        .select-kit-header {
        border-radius: .9em;
        background-color: var(--header_background);
        }
    }
}

.navigation-container {
    .select-kit.combo-box { // have both class names
        &.category-drop, &.tag-drop {
        .select-kit-body {
        border-radius: .9em;
        background-color: var(--header_background);
    
        .select-kit-collection {
            background-color: var(--header_background);
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        .select-kit-filter {
            border-top: 0px;
        }
        }
    }
    }
}




.prefix-span{
    border-radius: .9em;
}


.badge-category-bg{
    border-radius: .9em;
}